<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.assignment.vl.listeners.TestListeners" />
	</listeners>

	<test thread-count="1" name="Test">
		<classes>
			<class name="com.assignment.vl.tests.EmployeeTest">
				<methods>
					<include name="verifyErrorMessagesOnFillingIncompleteForm" />
					<include name="deleteEmployeeAndVerify" />
					<include
						name="verifyAdvertisementAppearsAfterEveryTwoEmployeesAdded" />
					<include
						name="Add_9_usersInALoopAndDelete_1_2_9_AndDismissAllAds" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
